/**** start hero style *****/

.hero {
    padding-bottom: 60px;
    .hero-text-box {
        max-width: 662px;
        h1 {
            margin-bottom: 20px;
            position: relative;
            &.with-bg {
                .pattern-bg {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 35px;
                        height: 59px;
                        left: -35px;
                        top: -28px;
                        background: url("../images/icons/Squares.svg");
                    }
                }
            }
        }
        p {
            margin-bottom: 20px;
            max-width: 536px;
        }
        &.inner-hero {
            padding-top: 30px;
            h1 {
                margin-bottom: 60px;
            }
            .search-box {
                max-width: 460px;
                p {
                    font-size: 18px;
                    line-height: 28px
                }
                .form-group {
                    position: relative;
                    margin-bottom: 35px;
                    .form-control {
                        height: 50px;
                        background: #F8F8F8B3;
                        border: 1px solid #DFDEDB;
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-size: 17px;
                        &::placeholder {
                            color: $gray;
                        }
                    }
                    .fa-search {
                        position: absolute;
                        color: $yellow;
                        top: 17px;
                        right: 24px;
                        font-size: 18px;
                    }
                }
                .custom-select,
                .btn-white {
                    width: 100%;
                    background: #fff;
                    border: 1px solid #F1CA08;
                    font-size: 18px;
                    color: $black;
                    padding: 10px 15px 10px 15px;
                    height: 48.8px;
                    font-weight: 500;
                }
                .custom-select {
                    background: #fff url("../images/icons/arrow-down.svg") no-repeat right 20px center/12px 7px
                }
            }
        }
    }
    .home-img {
        @media(min-width: 1200px) {
            margin-left: -75px;
            max-width: calc(100% + 75px);
        }
    }
    .event-preview {
        .btn {
            width: 40px;
            height: 40px;
            background: #FFFFFF;
            box-shadow: 0px 3px 6px #0000000F;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-top: -25px;
            color: $yellow;
        }
    }
    .small-img {
        max-height: 345px;
        margin-left: auto;
        display: block;
    }
}

.absolute-img {
    img {
        position: absolute;
        /* top: -60px; */
        margin-top: -120px;
        left: 3.5vw;
        max-width: 280px;
    }
}

.features {
    padding-top: 80px;
    .feature-box {
        max-width: 608px;
        p {
            margin-bottom: 28px;
        }
    }
    .row {
        margin: 0 0 70px 0;
        &:nth-child(odd) {
            @media(min-width: 992px) {
                padding-left: 9vw;
            }
        }
        &:nth-child(even) {
            @media(min-width: 992px) {
                padding-right: 10vw;
            }
            @media(min-width: 768px) {
                .col-md-auto {
                    order: 2;
                    padding-left: 75px;
                }
                .col-md {
                    order: 1
                }
            }
        }
    }
}

.explore-events {
    background: url("../images/bg.jpg") no-repeat center;
    padding: 116px 0;
    p {
        margin-bottom: 28px;
    }
}

.setting-event {
    padding-top: 120px;
    .title {
        margin-bottom: 120px;
    }
    .step-head {
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px
    }
    h3 {
        margin-bottom: 10px;
        font-weight: 600;
    }
    .col-12 {
        margin-bottom: 60px;
    }
}

.clients-opinion {
    padding-top: 80px;
    .opinion-slider {
        margin-top: 80px;
    }
    .slick-slide {
        padding: 15px 25px;
        &:focus {
            border: 0;
            box-shadow: none;
            outline: none;
        }
    }
    .client-box {
        .text-box {
            padding: 28px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
            background: #fff;
            border-radius: 15px;
            position: relative;
            margin-bottom: 38px;
            p {
                color: #000;
                margin: 10px 0
            }
            &::after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: 100%;
                left: 30px;
                border-width: 9px 9px 0px 9px;
                border-style: solid;
                border-color: #fff transparent;
            }
        }
        .client-name {
            display: flex;
            align-items: center;
            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                object-fit: cover;
            }
            .name {
                width: 100%;
                max-width: calc(100% - 55px);
                flex: 0 0 calc(100% - 55px);
                padding-left: 20px;
                color: $gray;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                strong {
                    display: block;
                    margin-bottom: 8px;
                    color: $black;
                    font-weight: 500;
                }
            }
        }
    }
}

.packages {
    padding-top: 120px;
    .packages-slider {
        margin-top: 50px;
        .slick-slide {
            padding: 15px 14px;
            height: 100%;
            &:focus {
                border: 0;
                box-shadow: none;
                outline: none;
            }
        }
        .package {
            transition: all 250ms ease;
            box-shadow: 0px 3px 6px #1E1E1E0F;
            border-radius: 10px;
            padding: 45px 30px 40px 30px;
            background: #fff;
            height: 100%;
            &:hover {
                box-shadow: 0px 0px 20px rgba(30, 30, 30, 0.06);
            }
            h3 {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 30px;
                span {
                    display: block;
                    font-size: 18px;
                    line-height: 24px;
                    margin-top: 10px;
                    font-weight: 300;
                }
            }
            .price {
                padding-top: 25px;
                font-size: 28px;
                line-height: 25px;
                margin-bottom: 32px;
                font-weight: 500;
                span {
                    display: block;
                    font-size: 14px;
                    line-height: 22px;
                    margin-top: 15px;
                    font-weight: 400;
                    color: $gray
                }
            }
            small {
                font-size: 12px;
                line-height: 28px;
                color: #333333;
                min-height: 66px;
                display: block
            }
            .btn {
                margin-top: 34px;
                width: 100%;
                max-width: 180px;
                color: #333333;
                font-size: 16px;
                &:hover {
                    color: #fff
                }
            }
            p {
                font-size: 16px;
                line-height: 28px;
                text-align: left;
                color: $black;
                margin-bottom: 0;
            }
            &.Unlimited {
                position: relative;
                padding: 45px 45px 40px 45px;
                position: relative;
                overflow: hidden;
                h3 {
                    color: $yellow;
                    margin-bottom: 15px;
                    span {
                        color: $black;
                    }
                }
                p {
                    font-size: 14px
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 60px 60px 0 0;
                    border-color: $yellow transparent transparent transparent;
                }
            }
        }
    }
}

.faq {
    padding-top: 97px;
    .accordion {
        padding-top: 30px;
    }
    .card {
        margin-bottom: 20px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px !important;
        background: #fff;
        .card-header {
            background: #fff;
            padding: 0;
            .btn {
                padding: 0;
                font-size: 18px;
                line-height: 24px;
                color: $black;
                border: 0;
                text-decoration: none;
                outline: none !important;
                box-shadow: none !important;
                padding: 22px 25px 20px 25px;
                .fa-angle-down {
                    float: right;
                    color: $yellow;
                    font-size: 24px;
                }
                .fa-angle-down:before {
                    content: "\f106";
                }
                &.collapsed {
                    .fa-angle-down:before {
                        content: "\f107";
                    }
                }
            }
        }
        .card-body {
            padding: 30px;
        }
    }
}

.contact {
    padding-top: 180px;
    padding-bottom: 300px;
    p {
        margin-bottom: 28px;
    }
    .contact-info {
        margin-bottom: 70px;
        span {
            font-size: 18px;
            line-height: 28px;
            padding: 5px 30px;
            img {
                margin-right: 10px
            }
        }
    }
    .btn {
        width: 180px;
        margin-top: 30px
    }
}


/****** events page styles *******/


/* breadcrumb block style */

.breadcrumb-block {
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin: 0;
        .breadcrumb-item {
            font-size: 18px;
            line-height: 28px;
            color: $gray;
            a {
                color: $gray;
            }
            &+.breadcrumb-item {
                padding-left: 3px;
                &::before {
                    padding-right: 5px;
                    color: $gray;
                }
            }
        }
    }
}

.event-list {
    padding-top: 20px;
    .event {
        background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        padding: 32px 28px;
        margin-bottom: 35px;
        h3 {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 28px;
            font-weight: 500;
        }
        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 40px;
            li {
                list-style-type: none;
                list-style: none;
                font-size: 14px;
                margin-bottom: 15px;
                i {
                    color: $yellow;
                    margin-right: 10px;
                }
            }
        }
        .event-footer {
            font-size: 14px;
            line-height: 28px;
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fa-heart {
                color: #DF0404;
                margin-right: 6px;
            }
            .btn {
                padding: 9px 10px 8px 10px;
                width: 100%;
                max-width: 155px;
            }
        }
    }
    .grid-block {
        .event {
            margin-bottom: 25px;
        }
        .col-12 {
            max-width: 100%;
            flex: 0 0 100%
        }
        .inner-box {
            display: flex;
        }
        .left-side {
            width: calc(100% - 162px);
        }
        ul {
            margin-bottom: 0;
            li {
                display: inline-block;
                margin-right: 25px;
                margin-bottom: 0;
                i {
                    margin-right: 10px;
                }
            }
        }
        .event-footer {
            display: block;
            width: 162px;
            span,
            .btn {
                display: block;
                width: 100%;
            }
            span {
                margin-bottom: 25px;
                text-align: center;
            }
        }
    }
}

.pagination-block {
    margin-bottom: 45px;
    .page-item {
        margin: 0 10px;
        .page-link {
            background: #F8F8F8B3;
            border: 1px solid #DFDEDB;
            border-radius: 5px;
            padding: 10px 15px 7px;
            font-size: 18px;
            color: $black;
            transition: all ease 250ms;
            &:hover {
                background: $yellow;
                border-color: $yellow;
                color: #fff;
            }
        }
        &.active {
            .page-link {
                background: $black;
                border-color: $black;
                color: #fff;
            }
        }
    }
}